Repository keras-team/keras-hub, pull requests merged in 2025-05, with the labels that each got.

#2241 Add qwen presets
  keras_hub/src/models/qwen/qwen_presets.py
Labels: stat:awaiting keras-eng

#2218 Sharded weights support
  keras_hub/src/models/backbone.py
  keras_hub/src/models/task.py
  keras_hub/src/utils/keras_utils.py
  keras_hub/src/utils/preset_utils.py
  keras_hub/src/utils/preset_utils_test.py
  keras_hub/src/utils/tensor_utils.py
Labels: Gemma, stat:awaiting keras-eng

#2196 Add Mixtral
  keras_hub/api/models/__init__.py
  keras_hub/api/tokenizers/__init__.py
  keras_hub/src/models/mixtral/mixtral_attention.py
  keras_hub/src/models/mixtral/mixtral_backbone.py
  keras_hub/src/models/mixtral/mixtral_backbone_test.py
  keras_hub/src/models/mixtral/mixtral_causal_lm.py
  keras_hub/src/models/mixtral/mixtral_causal_lm_preprocessor.py
  keras_hub/src/models/mixtral/mixtral_causal_lm_preprocessor_test.py
  keras_hub/src/models/mixtral/mixtral_causal_lm_test.py
  keras_hub/src/models/mixtral/mixtral_decoder.py
  keras_hub/src/models/mixtral/mixtral_layer_norm.py
  keras_hub/src/models/mixtral/mixtral_tokenizer.py
  keras_hub/src/tests/test_data/mixtral_test_vocab.spm
  keras_hub/src/utils/transformers/convert_mixtral.py
  keras_hub/src/utils/transformers/preset_loader.py
  tools/checkpoint_conversion/convert_mixtral_checkpoints.py
  tools/sentencepiece_testing/create_mixtral_test_proto.py
Labels: stat:awaiting response from contributor

#2183 Made label data optional for inference and adopted other required changes
  keras_hub/src/models/segformer/segformer_image_segmenter_preprocessor.py
  keras_hub/src/models/segformer/segformer_image_segmenter_tests.py
  keras_hub/src/models/segformer/segformer_presets.py
  tools/checkpoint_conversion/convert_segformer_checkpoints.py
Labels: stat:awaiting keras-eng

#2212 Add new CSPNet preset and add manual padding.
  keras_hub/src/models/cspnet/cspnet_backbone.py
  keras_hub/src/models/cspnet/cspnet_backbone_test.py
  keras_hub/src/models/cspnet/cspnet_presets.py
  keras_hub/src/utils/timm/convert_cspnet.py
  keras_hub/src/utils/timm/convert_cspnet_test.py
  keras_hub/src/utils/timm/preset_loader.py
  tools/checkpoint_conversion/convert_cspnet_checkpoints.py
Labels: stat:awaiting keras-eng

#2093 Add Moonshine to KerasHub
  keras_hub/api/layers/__init__.py
  keras_hub/api/models/__init__.py
  keras_hub/api/tokenizers/__init__.py
  keras_hub/src/models/moonshine/__init__.py
  keras_hub/src/models/moonshine/moonshine_audio_converter.py
  keras_hub/src/models/moonshine/moonshine_audio_converter_test.py
  keras_hub/src/models/moonshine/moonshine_audio_to_text.py
  keras_hub/src/models/moonshine/moonshine_audio_to_text_preprocessor.py
  keras_hub/src/models/moonshine/moonshine_audio_to_text_preprocessor_test.py
  keras_hub/src/models/moonshine/moonshine_audio_to_text_test.py
  keras_hub/src/models/moonshine/moonshine_backbone.py
  keras_hub/src/models/moonshine/moonshine_backbone_test.py
  keras_hub/src/models/moonshine/moonshine_decoder.py
  keras_hub/src/models/moonshine/moonshine_encoder.py
  keras_hub/src/models/moonshine/moonshine_layers.py
  keras_hub/src/models/moonshine/moonshine_layers_test.py
  keras_hub/src/models/moonshine/moonshine_multi_head_attention.py
  keras_hub/src/models/moonshine/moonshine_presets.py
  keras_hub/src/models/moonshine/moonshine_tokenizer.py
  keras_hub/src/models/moonshine/moonshine_tokenizer_test.py
  keras_hub/src/tests/test_data/audio_transcription_tests/female_short_voice_clip_17sec.wav
  keras_hub/src/tests/test_data/audio_transcription_tests/male_muffled_voice_clip_46sec.wav
  keras_hub/src/tests/test_data/audio_transcription_tests/male_short_voice_clip_3sec.wav
  keras_hub/src/tests/test_data/llama2_tokenizer_full.spm
  tools/checkpoint_conversion/convert_moonshine_checkpoints.py
Labels: stat:awaiting keras-eng

#2255 make vit compatible with non square images
  keras_hub/src/models/vit/vit_backbone.py
  keras_hub/src/models/vit/vit_backbone_test.py
  keras_hub/src/models/vit/vit_image_classifier_test.py
  keras_hub/src/models/vit/vit_image_converter.py
  keras_hub/src/models/vit/vit_layers.py
  keras_hub/src/models/vit/vit_presets.py
  tools/checkpoint_conversion/convert_vit_checkpoints.py
Labels: stat:awaiting keras-eng
